@use "../abstracts" as *;

.axie-parent-form {
  display: flex;
  align-content: center;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  margin: 2rem auto;
  gap: 1.5rem;
}

.table-row-inactive {
  background-color: $lightest-grey;
}

.axie-children {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 1.5rem 0;
}
