@use "../abstracts" as *;

.axie-parent-form {
  display: flex;
  align-content: center;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  margin: 2rem auto;
  gap: 1.5rem;
}

.table-row-inactive {
  background-color: $lightest-grey;
}

.axie-children {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 1.5rem 0;
}

.parent-detail {
  display: flex;
  justify-content: center;
  gap: 1rem;

  &__heading {
    color: $mid-grey;
  }

  &__field {
    width: 12rem;
  }
}

.axie-child-detail {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;

  &__link-wrapper {
    display: flex;
    margin-bottom: -2rem;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
  }

  &__link-icon {
    width: 20px;
    height: 20px;
    color: $mid-grey;
  }

  &__image {
    display: block;
    height: 10rem;
    margin: auto;
    aspect-ratio: 1;
    object-fit: cover;
  }

  &__heading {
    font-size: 1.15rem;
    font-weight: bold;
    color: $mid-grey;
  }

  &__chance,
  &__parts {
    margin-left: 1rem;
    font-weight: 500;
  }

  &__price {
    width: 10rem;
  }

  &__parts {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  &__part {
    display: flex;
    gap: 0.3rem;
    align-items: center;

    &__icon {
      width: 35px;
      height: 35px;
      flex-shrink: 0;
    }

    &__name {
      word-break: break-word;
      max-width: 7rem;
      font-size: 1.1rem;
      line-height: 1.2rem;
    }
  }
}

.summary {
  max-width: 600px;
  margin: auto;
  padding: 3rem;

  &__header {
    padding-left: 1rem;
  }

  &__lines {
    display: grid;
    grid-template-columns: auto max-content max-content;
    grid-auto-flow: row;
    align-items: center;
    gap: 0.3rem;
    padding: 0 2rem;
  }

  &__key {
    font-size: 1rem;
  }

  &__key--total {
    font-size: 1.2rem;
    font-weight: 500;
  }

  &__main-value {
    justify-self: end;
    font-size: 1.3rem;
    font-weight: 500;

    &--big {
      justify-self: end;
      font-size: 1.8rem;
      font-weight: bold;
    }
  }

  &__side-value {
    font-size: 0.8rem;

    &--big {
      font-size: 1rem;
    }
  }

  &__bottom-line {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto max-content max-content;
    align-items: center;
    column-gap: 0.3rem;

    &--loss {
      @extend .summary__bottom-line;
      background-color: hsl(0, 100%, 80%);
      box-shadow: 0 0.4rem 0.5rem hsla(0, 100%, 25%, 40%);
    }

    &--profit {
      @extend .summary__bottom-line;
      background-color: hsl(104, 60%, 80%);
      box-shadow: 0 0.4rem 0.5rem hsla(107, 100%, 25%, 40%);
    }

    &__key {
      grid-row-end: span 2;
    }

    &__percent-profit {
      font-size: 0.8rem;
      text-align: center;
      grid-column-end: span 2;
    }
  }
}

