@use "../abstracts" as *;

.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  background: white;
  box-shadow: 0 0.3rem 1rem 0 rgba($color: $dark-grey, $alpha: 0.12);

  &__inner {
    max-width: $max-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0.5rem 1rem;
  }
}

.nav-link {
  line-height: 50px;
  font-weight: 500;
  padding: 0 0.5rem;
  margin: 0 0.5rem;
  color: $text-color;

  &.active,
  &:hover {
    color: $brand-color;
  }
}
