@use "../abstracts" as *;

.axie-child-detail {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;

  &__link-wrapper {
    display: flex;
    margin-bottom: -2rem;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
  }

  &__link-icon {
    width: 20px;
    height: 20px;
    color: $mid-grey;
  }

  &__image {
    display: block;
    height: 10rem;
    margin: auto;
    aspect-ratio: 1;
    object-fit: cover;
  }

  &__heading {
    font-size: 1.15rem;
    font-weight: bold;
    color: $mid-grey;
  }

  &__chance,
  &__parts {
    margin-left: 1rem;
    font-weight: 500;
  }

  &__price {
    width: 10rem;
  }

  &__parts {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  &__part {
    display: flex;
    gap: 0.3rem;
    align-items: center;

    &__icon {
      width: 35px;
      height: 35px;
      flex-shrink: 0;
    }

    &__name {
      word-break: break-word;
      max-width: 7rem;
      font-size: 1.1rem;
      line-height: 1.2rem;
    }
  }
}
