.token-prices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem;

  &__token-detail {
    display: flex;
    align-items: center;
    width: 15rem;
    gap: 1rem;
    padding: 1.5rem 2rem;

    &__image {
      height: 4rem;
      aspect-ratio: 1;
      object-fit: scale-down;
    }
  }
}
