/**
 * Basic typography style for copy text
 */

@use "../abstracts" as *;

body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  margin: 0;
}

@each $key, $value in $colors {
  .text-#{$key} {
    color: $value;
    font-weight: bold;
  }
}

.helper-text {
  font-size: 0.8rem;
  color: $mid-grey;
}
